In [0]:
import numpy as np
import pandas as pd
import io
from google.colab import files

In [0]:
uploaded = files.upload()
df = pd.read_csv(io.StringIO(uploaded['matches.csv'].decode('utf-8')))
df

Saving matches.csv to matches.csv

        id  season  ...         umpire2                  umpire3
0        1    2017  ...        NJ Llong                      NaN
1        2    2017  ...          S Ravi                      NaN
2        3    2017  ...       CK Nandan                      NaN
3        4    2017  ...   C Shamshuddin                      NaN
4        5    2017  ...             NaN                      NaN
..     ...     ...  ...             ...                      ...
751  11347    2019  ...        O Nandan                   S Ravi
752  11412    2019  ...     Nitin Menon                Ian Gould
753  11413    2019  ...             NaN                      NaN
754  11414    2019  ...  Bruce Oxenford  Chettithody Shamshuddin
755  11415    2019  ...       Ian Gould              Nigel Llong

[756 rows x 18 columns]

In [0]:
df.head(3)

   id  season       city  ...         umpire1    umpire2 umpire3
0   1    2017  Hyderabad  ...     AY Dandekar   NJ Llong     NaN
1   2    2017       Pune  ...  A Nand Kishore     S Ravi     NaN
2   3    2017     Rajkot  ...     Nitin Menon  CK Nandan     NaN

[3 rows x 18 columns]

In [0]:
# Q1. Find the total number of matches played till now in IPL

In [0]:
df.shape[0]

756

In [0]:
# Q2. Create a new dataframe from df which will have all the alternate rows and columns from df starting from 0

In [0]:
df1=df.iloc[0:756:2]
df1.iloc[:,[0,2,4,6,8,10,12,14,16]]

        id  ...         umpire2
0        1  ...        NJ Llong
2        3  ...       CK Nandan
4        5  ...             NaN
6        7  ...       CK Nandan
8        9  ...          S Ravi
..     ...  ...             ...
746  11342  ...        O Nandan
748  11344  ...   Anil Dandekar
750  11346  ...   C Shamshuddin
752  11412  ...     Nitin Menon
754  11414  ...  Bruce Oxenford

[378 rows x 9 columns]

In [0]:
# Q3. Find the number of matches played in Mumbai in the period of 2013 and 2017

In [0]:
mask1=df['city']=='Mumbai'
mask2=df['season']>=2013
mask3=df['season']<=2017
df[mask1 & mask2 & mask3].shape[0]

38

In [0]:
# Q4. Find the number of matches where the margin of victory was greater than 30

In [0]:
mr=df['winner'].value_counts()
mr[mr>30].shape[0]

8

In [0]:
# Q5. What percent times KKR decides to bat after winning the toss

In [0]:
mask3=df['toss_winner']=='Kolkata Knight Riders'
mask4=df['toss_decision']=='bat'
df[mask3 & mask4].shape[0]

30

In [0]:
pd.read_csv('https://www.kaggle.com/nowke9/ipldata#matches.csv')

ParserError: ignored