# Pandas Assingment-3

(Based on IPL matches and deliveries dataset)


<a>https://www.kaggle.com/nowke9/ipldata#matches.csv</a>


<a>https://www.kaggle.com/nowke9/ipldata#deliveries.csv<a>

In [0]:
import pandas as pd
import numpy as np
import io
from google.colab import files

In [0]:
uploaded = files.upload()
df = pd.read_csv(io.StringIO(uploaded['matches.csv'].decode('utf-8')))
df

Saving matches.csv to matches (1).csv

        id  season  ...         umpire2                  umpire3
0        1    2017  ...        NJ Llong                      NaN
1        2    2017  ...          S Ravi                      NaN
2        3    2017  ...       CK Nandan                      NaN
3        4    2017  ...   C Shamshuddin                      NaN
4        5    2017  ...             NaN                      NaN
..     ...     ...  ...             ...                      ...
751  11347    2019  ...        O Nandan                   S Ravi
752  11412    2019  ...     Nitin Menon                Ian Gould
753  11413    2019  ...             NaN                      NaN
754  11414    2019  ...  Bruce Oxenford  Chettithody Shamshuddin
755  11415    2019  ...       Ian Gould              Nigel Llong

[756 rows x 18 columns]

In [0]:
uploaded = files.upload()
df1 = pd.read_csv(io.StringIO(uploaded['deliveries.csv'].decode('utf-8')))
df1

Saving deliveries.csv to deliveries (1).csv

        match_id  inning  ... dismissal_kind    fielder
0              1       1  ...            NaN        NaN
1              1       1  ...            NaN        NaN
2              1       1  ...            NaN        NaN
3              1       1  ...            NaN        NaN
4              1       1  ...            NaN        NaN
...          ...     ...  ...            ...        ...
179073     11415       2  ...            NaN        NaN
179074     11415       2  ...            NaN        NaN
179075     11415       2  ...        run out  KH Pandya
179076     11415       2  ...            NaN        NaN
179077     11415       2  ...            lbw        NaN

[179078 rows x 21 columns]

## Q1. Find out a City which has hosted most no. of IPL openers i.e first match of a season.

In [0]:
df.drop_duplicates('season',keep='first',inplace=True)

In [0]:
df['city'].value_counts().head(1)

Chennai    3
Name: city, dtype: int64

## Q2. Find out top-3 batsman who has scored most runs against Malinga.

In [0]:
m=df1.groupby('bowler')

In [0]:
m.get_group('SL Malinga')['batsman'].value_counts().head(3)

RV Uthappa    81
CH Gayle      74
S Dhawan      69
Name: batsman, dtype: int64

## Q3. Make a function to find top bowler(in terms of most wickets) against any team. Take input as team.

In [0]:
def wick(team):
  a=df1['batting_team']=='Chennai Super Kings'
  mask1=df1['dismissal_kind']=='caught'
  mask2=df1['dismissal_kind']=='bowled'  
  mask3=df1['dismissal_kind']=='lbw'
  mask4=df1['dismissal_kind']=='stumped'
  mask5=df1['dismissal_kind']=='caught and bowled'
  mask6=df1['dismissal_kind']=='hit wicket'
  mask7=df1['dismissal_kind']=='run out'
  mask8=df1['dismissal_kind']=='obstructing the field'
  wicket=df1[(mask1|mask2|mask3|mask5|mask6|mask7|mask8) & a]
  return wicket.groupby('bowler').count()['player_dismissed'].sort_values(ascending=False).head(1)

In [0]:
wick('Delhi Daredevils')

bowler
SL Malinga    37
Name: player_dismissed, dtype: int64

## Q4. Write a function which will take team name as input and return it's record of no. occurance in finals and no. of times won.  [Difficult]

ex.-- if team is CSK-- 
CSK in finals-

Played- 8
Won- 3

If any team which has not played in finals like Gujrat Lions

Gujrat Lions in finals-

Played-0

In [0]:
def finalist(team):
  df2=df.groupby('season').last()
  mask=df2['team1']==team
  mask1=df2['team2']==team
  m=df2[mask | mask1]
  l=m.groupby('winner')
  r=m.count()['id']
  q= l.get_group(team).count()['id']
  print('Played:',r)
  print('Won:',q)

In [0]:
finalist('Mumbai Indians')

Played: 5
Won: 4

## Q5. Write a function which will take a input as batsman and in output it gives total runs scored against each team. [Medium]

In [0]:
def runscored(bat):
  m=df1[df1['batsman']==bat]
  return m.groupby('bowling_team').sum()['total_runs'].sort_values(ascending=False)

In [0]:
runscored('S Dhawan')

bowling_team
Mumbai Indians                 700
Chennai Super Kings            696
Kings XI Punjab                685
Kolkata Knight Riders          684
Delhi Daredevils               547
Rajasthan Royals               532
Royal Challengers Bangalore    500
Gujarat Lions                  136
Deccan Chargers                131
Rising Pune Supergiants         91
Pune Warriors                   81
Rising Pune Supergiant          50
Sunrisers Hyderabad             39
Kochi Tuskers Kerala             4
Name: total_runs, dtype: int64